* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ececec;
  font-family: "Montserrat", sans-serif;
}

#main-app-body {
  height: 100vh;
}

#weather-div {
  background-color: white;
  min-height: 2em;
}

.center-align-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  text-align: center;
}

.coordinate-input {
  border: 1px solid #dbdada;
  background-color: #ececec;
  padding: 7px;
  border-radius: 5px;
  outline: none;
}

.coordinate-input:focus {
  outline: 2px solid #a3a3a3;
}

#select-daytime {
  border: 1px solid #dbdada;
  background-color: #ececec;
  padding: 7px 14px 7px 14px;
  border-radius: 5px;
  outline: none;
  margin: 1em 1em 0 1em;
}

.primary-button {
  background-color: rgb(66, 126, 196);
  padding: 14px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.primary-button:hover {
  background-color: rgb(8, 69, 139);
}

.primary-button:active {
  background-color: rgb(8, 69, 139);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.header-text {
  font-size: 24px;
  font-weight: 500;
}

#info {
  min-height: 3em;
  z-index: 4;
}

#loading {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}
#loading:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 5em;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
  animation: loading infinite 3s linear;
}
@keyframes loading {
  0% {
    max-width: 0;
  }
}

.error {
  background-color: rgb(233, 113, 113);
  color: rgb(247, 245, 245);
  border-radius: 5px;
  font-size: 18px;
  padding: 7px;
  outline: 1px solid red;
}

.detail-forecast {
  font-size: 16px;
  font-weight: 300;
  color: gray;
  max-width: 300px;
}

.vertical-line-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
}

.flex-items {
  display: inline;
  position: relative;
  margin: 1em 1em 0 1em;
}
